<form action="/artist-search" , method="GET">
  <label for="artistName">
  </label>
  <input
    type="text"
    name="artistName"
    id="artistName"
    placeholder="e.g. Drake"
    value=""
  />

  <div class="form-btn">
    <input type="submit" value="Search for an Artist" />
  </div>
</form>